body {
    --primary: #458cb5;
    background: url(../img/waves.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
}

@media (max-width: 800px) {
    body {
        background-size: 50em auto;
    }
}

.navbar-toggler:focus {
  box-shadow: none;
}

.nav-item:hover{
    background-color: #4a99c630;
}

.nav-item-first, .nav-item-first:hover{
    background-color: var(--primary);
}

.nav-item .nav-link {
    padding: .2em;
    margin: .2em;
    margin-left: 15%;
    font-weight: 500;
    color: var(--primary);
}

.logo-container {
    text-align: center;
}

.logo {
    margin: 2em;
    width: 80%;
    max-width: 180px;
}

.sub-logo {
    margin: 1em;
    width: 10%;
}

.btn-primary {
    background-color: var(--primary);
}

section h1 {
    color: var(--primary);
    text-align: center;
}

section p {
    width: 80%;
}

.craft-img {
    min-width: 100px;
    width: 100%;
    max-width: 300px;
    margin: .5em;
    margin-top: 1.5em;
}

.section-canvas button {
    font-size: 1.5em;
}

.box-canvas, .box-canvas-print {
    background-color: white;
    padding: 2%;
    box-shadow: 4px 4px 8px -1px #848484;
}

.box-canvas {
    min-height: 300px;
}

.menu-create {
    padding: 2%;
    text-align: center;
}

.menu-create .menu-item img {
    width: 32px;
    height: 32px;
}

.menu-create .menu-active {
    border-color: var(--primary);
    border-style: dotted;
    border-width: thin;
    border-radius: 50%;
}

.box-elements {
    text-align: center;
    margin-top: 5%;
}

.element-craft {
    width: 50px;
    height: 50px;
}

.cabelo-class-1 {
    fill:#333333;
}

.sombrancelha-class-1 {
    fill:#333333;
}

.olho-class-1{
    fill:#333333;
}

.olho-class-2{
    fill:#fff;
}

.nariz-class-1,.nariz-class-2{
    fill:#333333;
}
.nariz-class-1 {
    fill-rule:evenodd;
}

.boca-class-1 {
    fill:#333333;
}

.boca-class-2 {
    fill:none;
}

.myCraft-item img {
    width: 8em;
    height: 8em;
}