/* GERAL */
* {
    --primary: #E29C06;
    --secondy: #458cb5;
    font-family: 'Lexend', sans-serif;
}

body {
    background: url(../img/waves2.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
}

@media (max-width: 800px) {
    body {
        background: url(../img/waves.svg);
        background-repeat: no-repeat;
        background-size: 50em auto;
    }
}

/* BARRA DE ROLAGEM */
@media (min-width: 600px) {
    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }
     
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
        border-radius: 10px;
    }
     
    ::-webkit-scrollbar-thumb {
        border-radius: 10px;
        box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    }
}

/* MENU */
@media (max-width: 500px) {
    .navbar-nav-back {
        background-color: #f8f9fa;
    }
}

.navbar-toggler:focus {
  box-shadow: none;
}

.nav-item:hover{
    background-color: #4a99c630;
}

.nav-item-first, .nav-item-first:hover{
    background-color: var(--secondy);
}

.nav-item .nav-link {
    padding: .2em;
    margin: .2em;
    margin-left: 15%;
    font-weight: 500;
    color: var(--secondy);
}

/* LOGO GRANDE */
.logo-container {
    text-align: center;
}

.logo {
    margin: 0.5em;
    width: 80%;
    max-width: 150px;
}

/* LOGO PEQUENA */
.sub-logo {
    margin: 0.5em;
    width: 10%;
    max-width: 180px;
    min-width: 100px;
}

/* MODAL */
.block-modal{
    pointer-events: none;
}

.modal-dialog{
    pointer-events: all;
 }

/* CARD */
.card-title {
    color: var(--primary);
}

/* ELEMENTOS DE TEXTO */
section h1 {
    color: var(--primary);
    text-shadow: .5px .5px #fff;
    text-align: center;
}

section p {
    width: 80%;
}

.btn-primary {
    background-color: #458cb5;
    box-shadow: 3px 3px #458cb550, -3px -3px #458cb550;
}

/* CRAFT IMPRESO */
.craft-img {
    min-width: 100px;
    width: 80%;
    margin: .5em;
    margin-top: 1.5em;
}

/* AREA CRAFT */
.box-canvas, .box-canvas-print {
    background-color: white;
    padding: 2%;
    box-shadow: 4px 4px 8px -1px #848484;
}

.box-canvas {
    min-height: 30vh;
    position: relative;
}

.check-button {
    position: absolute;
    bottom: -80px;
    left: 16px;
    font-size: 1.3em;
    background-color: #0d6efda6;
}

.check-button span {
    font-size: .7em;
}

.x-button {
    position: absolute;
    bottom: -80px;
    right: 16px;
    font-size: 1.3em;
    background-color: #0d6efda6;
}

.x-button span {
    font-size: .7em;
}

/* BOTÕES DE AÇÃO NA TELA CELULAR */
@media (orientation: portrait) {
    .check-button {
        position: fixed;
        max-width: 30vw;
        height: 40px;
        top: 85vh;
        background-color: #0d6efda6;
        font-size: 1em;
    }
    
    .x-button {
        position: fixed;
        max-width: 30vw;
        height: 40px;
        top: 85vh;
        background-color: #0d6efda6;
        font-size: 1em;
    }
}

/* BOTÕES DE AÇÃO NA TELA ESTREITA */
@media (max-width: 767px) {
    .check-button {
        position: fixed;
        max-width: 40vw;
        height: 40px;
        top: 85vh;
        background-color: #0d6efda6;
        font-size: 1em;
    }
    
    .x-button {
        position: fixed;
        max-width: 40vw;
        height: 40px;
        top: 85vh;
        background-color: #0d6efda6;
        font-size: 1em;
    }
}

/* SELEÇÃO DE COR */
.menu-cor img{
    width: 15%;
    height: 15%;
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.menu-create {
    padding: 2%;
    text-align: center;
}

.menu-create .menu-item {
    margin: 3%;
}

.menu-create .menu-item img {
    width: 32px;
    height: 32px;
}

.menu-create .menu-active {
    border-color: var(--primary);
    border-style: dotted;
    border-width: thin;
    border-radius: 50%;
    background: #33333350;
}



.box-elements {
    text-align: center;
    margin-top: 5%;
}

.element-craft {
    width: 50px;
    height: 50px;
}

ul.horizontal-slide {
    overflow: auto;
    white-space: nowrap;
}

ul.horizontal-slide li {
    display: inline-block;
    text-align: center;
}     

.element-craft.login-required {
    background-color: #cacaca80;
    background-image: url(../img/ico/star.png);
    background-repeat: no-repeat;
    background-size: 50% auto;
    background-position: center;
    opacity: 0.5;
}

.myCraft-item img {
    max-width: 18rem;
    margin: auto;
}

.svg-craft {
    margin: auto;
}