body {
    --primary: #458cb5;
    background: url(../img/waves.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
}

@media (max-width: 800px) {
    body {
        background-size: 50em auto;
    }
}

.navbar-toggler:focus {
  box-shadow: none;
}

.nav-item:hover{
    background-color: #4a99c630;
}

.nav-item-first, .nav-item-first:hover{
    background-color: var(--primary);
}

.nav-item .nav-link {
    padding: .2em;
    margin: .2em;
    margin-left: 15%;
    font-weight: 500;
    color: var(--primary);
}

.logo-container {
    text-align: center;
}

.logo {
    margin: 0.5em;
    width: 80%;
    max-width: 180px;
}

.sub-logo {
    margin: 0.5em;
    width: 10%;
    max-width: 180px;
    min-width: 100px;
}

.btn-primary {
    background-color: var(--primary);
}

.card-title {
    color: var(--primary);
}

section h1 {
    color: var(--primary);
    text-align: center;
}

section p {
    width: 80%;
}
@keyframes example {
    0% {background-color: #458cb505;}
    100% {background-color: #458cb5;}
}
section a.btn {
    animation-name: example;
    animation-duration: 1s;
    box-shadow: 3px 3px #458cb550, -3px -3px #458cb550;
}

.craft-img {
    min-width: 100px;
    width: 100%;
    max-width: 300px;
    margin: .5em;
    margin-top: 1.5em;
}

.section-canvas button {
    font-size: 1.5em;
}

.box-canvas, .box-canvas-print {
    background-color: white;
    padding: 2%;
    box-shadow: 4px 4px 8px -1px #848484;
}

.box-canvas {
    min-height: 300px;
}

.menu-create {
    padding: 2%;
    text-align: center;
}

.menu-create .menu-item img {
    width: 32px;
    height: 32px;
}

.menu-create .menu-active {
    border-color: var(--primary);
    border-style: dotted;
    border-width: thin;
    border-radius: 50%;
}

.box-elements {
    text-align: center;
    margin-top: 5%;
}

.element-craft {
    width: 50px;
    height: 50px;
}

.element-craft.login-required {
    background-color: #cacaca80;
    background-image: url(../img/ico/star.png);
    background-repeat: no-repeat;
    background-size: 50% auto;
    background-position: center;
}

.cabelo-class-1 {
    fill:#333333;
}

.sombrancelha-class-1 {
    fill:#333333;
}

.olho-class-1{
    fill:#333333;
}

.olho-class-2{
    fill:#fff;
}

.nariz-class-1,.nariz-class-2{
    fill:#333333;
}
.nariz-class-1 {
    fill-rule:evenodd;
}

.boca-class-1 {
    fill:#333333;
}

.boca-class-2 {
    fill:none;
}

.myCraft-item img {
    max-width: 18rem;
    margin: auto;
}